fastapi==0.115.13
pydantic==2.11.7
pydantic-settings==2.9.1
alembic==1.16.2
uvicorn[standard]==0.34.3
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
pysolr==3.10.0
prometheus_client==0.22.1
httpx>=0.27.0,<0.29.0

# embeddings and vectors
sentence-transformers==4.1.0
requests==2.32.4
PyPDF2==3.0.1

# local LLM via LangChain
langchain==0.3.26
langchain-community==0.3.26
langchain-huggingface==0.3.0
# GraphQL support
strawberry-graphql[fastapi]==0.275.2